{% extends 'store/base.html' %}

{% block title %}
    Lista de Instrumentos
{% endblock title %}

{% block page_title %}
    <div class="d-flex justify-content-center align-items-center mb-3">
        <h1>Instrumentos inscritos</h1>
    </div>
{% endblock page_title %}

{% block content %}
    <table class="table table-dark container" style="color: tomato;">
        <thead>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Tipo</th>
        </thead>
        <tbody>
            {% for instrument in instruments %}
            <tr>
                <td>{{instrument.name}}</td>
                <td>{{instrument.quantity}}</td>
                <td>{{instrument.instrument_type}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center gap-3">
        <button type="button" class="btn btn-dark"><a class="text-warning text-decoration-none" href="{% url 'index' %}">Inicio</a></button>
        <button type="button" class="btn btn-dark"><a class="text-warning text-decoration-none" href="{% url 'instrument_form' %}">Agregar Instrumento</a></button>
    </div>
{% endblock content %}