{% extends 'store/base.html' %}

{% block title %}
    Creacion de Instrumentos
{% endblock title %}

{% block page_title %}
    <div class="d-flex justify-content-center align-items-center mb-3">
        <h1 >Formulario para Añadir Instrumento</h1>
    </div>
{% endblock page_title %}

{% block content %}
<div class="d-flex justify-content-center align-items-center mb-3">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-dark text-warning">Añadir Instrumento</button>
        <button type="button" class="btn btn-dark text-warning"><a class="text-warning text-decoration-none" href="{% url 'instrument_list' %}">Lista de instrumentos</a></button>
    </form>
    
</div>
{% endblock content %}