{% extends 'store/base.html' %}

{% block title %}
Lista de Tipos de Instrumentos
{% endblock title %}

{% block page_title %}
    <div class="d-flex justify-content-center align-items-center mb-3">
        <h1>Tipos de Instrumentos inscritos</h1>
    </div>
{% endblock page_title %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center mb-3">
        <ul class="list-group w-50">
            {% for type_instrument in type_instruments %}
                <li class="list-group-item">
                    {{type_instrument.name}}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="d-flex justify-content-center align-items-center gap-3">
        <button type="button" class="btn btn-dark"><a class="text-warning text-decoration-none" href="{% url 'index' %}">Inicio</a></button>
        <button type="button" class="btn btn-dark"><a class="text-warning text-decoration-none" href="{% url 'type_instrument_form' %}">Agregar Tipo de Instrumento</a></button>
    </div>
    
{% endblock content %}