{% extends 'store/base.html' %}

{% block title %}
    Creacion de Tipos de Instrumentos
{% endblock title %}

{% block page_title %}
    <div class="d-flex justify-content-center align-items-center mb-3">
        <h1>Crear tipos de Instrumentos</h1>
    </div>
{% endblock page_title %}

{% block content %}
<div class="d-flex justify-content-center align-items-center mb-3">
    <form method="post" >
        {% csrf_token %}
        {{ form}}
        <button type="submit" class="btn btn-dark text-warning">Añadir tipo de Instrumento</button>
        <button type="button" class="btn btn-dark text-warning"><a class="text-warning text-decoration-none" href="{% url 'type_instrument_list' %}">Tipos de instrumentos</a></button>
    </form>
</div>


{% endblock content %}